<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo"><img src="{{ site.github.owner_gravatar_url }}" alt="logo" height="100" width="100"></div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="https://github.com/jim-y/blog/wiki">Help</a></li>
      <li><a href="https://github.com/jim-y/blog/issues">Report bug</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>
</footer>
